<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088429704308-72kiuvqcad08pv2790ptcunpffkkogr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088429704308-72kiuvqcad08pv2790ptcunpffkkogr6</string>
	<key>API_KEY</key>
	<string>AIzaSyA_LIxIJLmcJtySDvcOi9GGyZ1_X1J-oEA</string>
	<key>GCM_SENDER_ID</key>
	<string>1088429704308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anubis.ejarkom.ejarkom</string>
	<key>PROJECT_ID</key>
	<string>ejarkom-6de7f</string>
	<key>STORAGE_BUCKET</key>
	<string>ejarkom-6de7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088429704308:ios:77ba0a92be117ea58f3d21</string>
</dict>
</plist>